$v-font-size: 16px;
$v-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$root-background-color: #000;
$header-bar-height: 100px;
$main-color: #6D7777;
$menu-color: #323C3C;
$header-label-font-size: 1.618em;
$v-border-radius: 0;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-shadow: false;
$v-bevel: false;
$v-gradient: false;
$v-textfield-border: none;

@import "../valo/valo.scss";

.v-app {
	@include valo;

	.v-nativebutton{
		background: none;
		border: none;
		
		&:hover{
			cursor: pointer;
		}
	}


	.root-layout{
		background-color: $root-background-color;
		
		.scroll-panel{
			background-color: $root-background-color;
		}
					
		.header-bar{
			background-color: $menu-color;
			padding: 0px 15px 0 15px;
			vertical-align: middle;
			height: 65px;
			
			> * {
				color: #FFFFFF;
				float: right;
				padding: 0;
				line-height: 20px;
				margin-left: 15px;
				
				/** Vertically center everything **/ 
				position: relative;
  				top: 50%;
  				-webkit-transform: translateY(-50%);
  				-ms-transform: translateY(-50%);
 				transform: translateY(-50%);
			}
			
			> .search-field{
                background: none;
				border-bottom: solid 2px #586262;
				padding-left: 5px;
				
				&.v-textfield-prompt{
					color: #959595;
					font-style: italic;
				}
			}
            .v-icon {
                color: $main-color;
            }
			
		}
		
		.content-layout{
			padding: 60px;
		}
		
		.side-bar {
		
			background-color: $menu-color;
			width: 100px;
			
			> .menu-button{
				position: relative;
				color: $main-color;
				height: 90px;
				
				&.selected{
					background-color: $root-background-color; 
				}
				
				.v-nativebutton-caption{
                    font-size: .7em;
                    color: #C8D2D2;
                    text-transform: uppercase;
					position: absolute;
					bottom: 8px;
					text-align: center;				
					left: 0;
					right: 0;
					margin-left: auto;
					margin-right: auto;
				}
				
				.v-icon{
                    color: $main-color;
					position: absolute;
					font-size: 35px;
					margin-left: auto;
					margin-right: auto;
					top: 10px;
					left: 0;
					right: 0;
				}
			}
		}
		
		.header-label{
			font-size: $header-label-font-size;
			width: 100%;
			margin-bottom: 20px;
			color: #586262;
			border-bottom: 3px solid #323C3C;
		}
		
		.header-label-small{
			width: 100%;
			color: #959F9F;
            text-transform: uppercase;
			border-bottom: 2px solid $menu-color;
		}
		
		
	}
	
	.root-layout[width-range~="321px-768px"]{
		.content-layout{
			padding: 10px;
		}
		
		.side-bar{
			width: 60px;
			
			> .menu-button{
			
				height: 50px;
			
				> .v-nativebutton-caption{
					visibility: hidden;
				}
				
				> .v-icon{
					top: 0;
				}
			}
		}
		
		.header-bar{
			height: 45px;
			padding: 2px;	
		}
	}
}

.v-app{
	
    .scroll-panel {
        border: none;
        border-radius: 0;
    }
    
	.dashboard-layout{
		padding: 60px 60px 0 60px;
	}
    
	.dashboard-item{
		background-color: none;
        color: #ECF2F2;
		border: 1px solid $menu-color;
		margin: 0 30px 30px 0px;
		padding: 15px;
		
		> .statistics-label{
			margin-top: 15px;
			
			.statistics-value{
				float: right;
				font-weight: bold;
			}
		}
	}
    
    .chart-item {
        border: solid 1px $menu-color;
        background: $menu-color;
        padding: 0;
    }
	
	.root-layout[width-range~="321px-768px"]{
		.chart-item {
			display: none;
		}
		
		.dashboard-layout{
			padding: 10px;
		}
		
		.dashboard-item{
			width: 100% !important;
			min-width: 321px;
			margin: 0;
		}
	}
}