.root-layout.dashboard-view-template-vaadin {
	$root-background-color: #ffffff;
	$template-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	$main-color: #5AAAFA;
	$menu-color: #5AAAFA;
	$header-label-font-size: 1.618em;
	background-color: $root-background-color;
	padding: 60px;
	
	.v-nativebutton {
		background: none;
		border: none;
		
		&:hover{
			cursor: pointer;
		}
	}
	
	.header-label {
		font-size: $header-label-font-size;
		font-family: $template-font-family;
		width: 100%;
		margin-bottom: 20px;
		color: #000000;
		border-bottom: 3px solid #D0C7C7;
	}
	
	.header-label-small {
	    font-family: $template-font-family;
		width: 100%;
		color: $main-color;
        text-transform: uppercase;
		border-bottom: 2px solid #D0C7C7;
	}
	
	.dashboard-layout {
		padding: 60px 60px 0 60px;
	}
    
	.dashboard-item {
		background-color: #f6f3f3;
		border: 1px solid white;
		margin: 0 30px 30px 0px;
		padding: 15px;
		
		> .statistics-label{
			margin-top: 15px;
			font-family: $template-font-family;
			
			.statistics-value{
				float: right;
				font-weight: bold;
			}
		}
	}
	
	&[width-range~="321px-768px"]{
		padding: 10px;
		
		.dashboard-layout{
			padding: 10px;
		}
		
		.dashboard-item{
			width: 100% !important;
			min-width: 321px;
			margin: 0;
		}
	}
}

.dashboard-view-template-vaadin[width-range~="321px-768px"]{
	visibility: visible;
}